
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
    background: #d4d4d4; 
    /*background-image: url("/images/bamboo2.jpg");*/
	color: #111;
	}

a {
	text-decoration: none;
    color: #0059b3;
	}

a:hover	{
	text-decoration: none;
	color: green;
	}

strong{
	font-weight: 600;
	}

#title{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 30px;
}

div#content{
}

div#nav{
}

.col-sm-2, .col-sm-3, .col-sm4, .col-sm-8, .col-sm-9, .col-sm-10,.col-sm-11,.col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
}

.panel-background{
	background: #fffff8;
	padding: 24px 20px;
}

h1 {
	margin:0;
    margin-bottom: 18px;
	padding: 0;
	font-size: 26px;
}

h2 {
	margin:0;
    margin-top: 24px;
    margin-left: 10px;
    margin-bottom: 18px;
	padding: 0;
	font-size: 22px;
}

h3 {
	margin:0;
    margin-left: 5px;
	padding: 0;
	font-size: 24px;
}

p{
    margin-left: 30px;
    margin-bottom: 10px;
	font-size: 18px;
	text-align: justify;
}

blockquote {
    margin: 10px 50px;
    border: none;
    padding: 0;
	text-align: justify;
    font-style: italic;
}

/* sources */

#content ul{
    margin-left: 30px;
}

#content ol{
    margin-left: 30px;
}

#content li{
	padding: 10px 15px;
	font-size: 18px;
	border: none;
	background: #fffff8;
}


/* navigation */

#nav .list-group-item{
	padding: 7px 0px;
	font-size: 18px;
	border: none;
	background: #fffff8;
}

#top-nav-menu-item{
	padding-top: 0px;
}

#bottom-nav-menu-item{
	padding-bottom: 0px;
}

#nav ul {
	padding: 0;
	margin: 0;
}

#nav ul li a {
	padding: 0;
	margin: 0;
}

div.center-image{
    text-align: center;
}

img.page-standard{
 margin: 10px auto;   
 margin-bottom: 12px;
 width: 400px; 
 height: auto; 
}

label.contact{
	font-size: 18px;
    font-weight: normal;
}

input#name{
    max-width: 400px;
}


input#email{
    max-width: 400px;
}


input#subject{
    max-width: 600px;
}
